
<ion-content class="back22">

   

  <ion-list lines="full" style="background:transparent;">
    <!--
    <ion-item  style="background:transparent;" >
      <ion-label>2019/04/23</ion-label>
      <ion-card class="exercice">
        
            <ion-grid>
               <ion-card-title>تمارين رياضيات</ion-card-title> 
               <ion-card-content>sdqsdqsdqdqsdkjqhxcwxccwxcwcwcwxcwxcwccwcwcwcwcwcwcwcwcwcwxcwxcdkjqhsldkhqlskdjhqlksjdhlqkjdhlqkjdljsdhlkqjshdlkqhsdklqhkdqdklhqslkdq</ion-card-content>
        </ion-grid>
       
      </ion-card>
    </ion-item>-->
    <ion-item text-wrap >
      <ion-label text-wrap>
        <ion-grid>
        <ion-row ><ion-col size="12"><ion-text color="primary" style="text-align: right;">
            <h3>2019/05/23</h3>
          </ion-text></ion-col></ion-row>
        <ion-row ><ion-col size="12" ><p style="text-align: right; font-weight:bold; ">تمارين رياضيات</p></ion-col></ion-row>
        <ion-row style="float:right;">
          <ion-col size="3">
        <ion-text color="primary">
          <h3>رياضيات</h3>
        </ion-text>
      </ion-col>
      <ion-col size="9">
        <ion-text style="white-space:normal; text-overflow: ellipsis;height: 14px;" > 
        
          <p  style="white-space:pre-line; text-overflow: ellipsis; text-align: right;">أحسب مساحة اﻷرض علما أن صالح قد إشترى 50 تفاحة و أكل 48 بيأحسب مساحة اﻷرض علما أن صالح قد إشترى 50 تفاحة و أكل 48 بيأحسب مساحة اﻷرض علما أن صالح قد إشترى 50 تفاحة و أكل 48 بيأحسب مساحة اﻷرض علما أن صالح قد إشترى 50 تفاحة و أكل 48 بيأحسب مساحة اﻷرض علما أن صالح قد إشترى 50 تفاحة و أكل 48 بيأحسب مساحة اﻷرض علما أن صالح قد إشترى 50 تفاحة و أكل 48 بيضة</p>
        </ion-text>
      </ion-col>
      </ion-row>
    </ion-grid>
      </ion-label>
    </ion-item>
    
    <ion-item text-wrap style="height:117px;">
        <ion-label text-wrap>
          <ion-grid>
          <ion-row ><ion-col size="12"><ion-text color="primary" style="text-align: right;">
              <h3>2019/05/23</h3>
            </ion-text></ion-col></ion-row>
          <ion-row ><ion-col size="12" ><p style="text-align: right; font-weight:bold; ">تمارين رياضيات</p></ion-col></ion-row>
          <ion-row style="float:right;">
            <ion-col size="3">
          <ion-text color="primary">
            <h3>رياضيات</h3>
          </ion-text>
        </ion-col>
        <ion-col size="9">
          <ion-text style="white-space:normal; text-overflow: ellipsis;" > 
          
            <p  style="white-space:normal; text-overflow: ellipsis; text-align: right;">أحسب مساحة اﻷرض علما أن صالح قد إشترى 50 تفاحة و أكل 48 بيأحسب مساحة اﻷرض علما أن صالح قد إشترى 50 تفاحة و أكل 48 بيأحسب مساحة اﻷرض علما أن صالح قد إشترى 50 تفاحة و أكل 48 بيأحسب مساحة اﻷرض علما أن صالح قد إشترى 50 تفاحة و أكل 48 بيأحسب مساحة اﻷرض علما أن صالح قد إشترى 50 تفاحة و أكل 48 بيأحسب مساحة اﻷرض علما أن صالح قد إشترى 50 تفاحة و أكل 48 بيضة</p>
          </ion-text>
        </ion-col>
        </ion-row>
      </ion-grid>
        </ion-label>
      </ion-item>
  
  </ion-list>
</ion-content>