.back22 {
    --background: url('../../../assets/yy.jpg') no-repeat center ;}

.exercice{
    --background: white;
    width: 95%;
}

.title-item{
    text-align: right;
    font-weight: bold;
}
.ion-text-wrap{
    white-space: pre-line;
}