<ion-header>
    <ion-toolbar>
      <ion-title>الواجبات المنزلية</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button autoHide="true"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
   
  </ion-header>
  <ion-content class="back22">
 <ion-tabs >

  <ion-tab-bar  style="background-color:rgba(145, 165, 145, 0.466);" slot="top" color="primary">
    <ion-tab-button tab="current" style="background-color:transparent;"  >
      <ion-icon style="color:white;" name="paper"></ion-icon>
      <ion-label style="color:white;">جارية</ion-label>
    </ion-tab-button>
 

    <ion-tab-button tab="old" style="background-color:transparent;">
      <ion-icon style="color:white;" name="done-all"></ion-icon>
      <ion-label style="color:white;">سابقة</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
  </ion-content>