<ion-header>
    <ion-toolbar>
      <ion-title>اﻷبناء</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button autoHide="true"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="back2">
      <ion-card style="margin-top:20px;" class="card1">
        
          <ion-card-content>
              <img  style ="display: block; margin: auto; height: 100px; width: 100px;" src='../../assets/girl.png'/>
            <p class="nom" style="font-size: 1.5rem;display: block; text-align: center;">سيرين المكي</p>
          </ion-card-content>
        </ion-card>
        <ion-card style="margin-top:10px;" class="card1">
        
            <ion-card-content>
                <img  style ="display: block; margin: auto; height: 100px; width: 70px;" src='../../assets/boo.png'/>
              <p class="nom" style="font-size: 1.5rem;display: block; text-align: center;">بدر الدين المكي</p>

            </ion-card-content>
          </ion-card>
        
        
  </ion-content>