<ion-header>
    <ion-toolbar>
      <ion-title >اﻹحصائيات</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button autoHide="true"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="back2">
      <ion-card style="margin-top:20px;" class="card1">
        
          <ion-card-content>
              <ion-grid>
                  <ion-row>
                    <ion-col size="3">
              <img  class="img_stat" src='../../assets/girl.png'/></ion-col>
              <ion-col size="9">
            <div class="stat_info" style="text-align:right;"><b>اﻹسم:</b> سيرين المكي<br><b>الجنس:</b> بنت<br><b>تاريخ الولادة:</b> 03/12/1996</div>
          </ion-col>
          </ion-row>
          </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card style="margin-top:10px;" class="card1">
        
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                      <ion-col size="">
                <img  class="img_stat" src='../../assets/boo.png'/></ion-col>
                <ion-col size="9">
              <div class="stat_info" style="text-align:right;"><b>اﻹسم:</b> بدر الدين المكي<br><b>الجنس:</b> ولد<br><b>تاريخ الولادة:</b> 10/12/1990</div>
            </ion-col>
            </ion-row>
            </ion-grid>
            </ion-card-content>
          </ion-card>
        
        
  </ion-content>